@Echo off
@Echo Chart Collector Start
call "C:\Anaconda3\Scripts\activate.bat" py39_32
set PYTHONPATH=C:\Users\shkim\code\projects\skogkatt
cd C:\Users\shkim\code\projects\skogkatt\skogkatt\batch
start python "%~dp0chart_collector_batch.py"